version: "3.8"

services:
  registry:
    image: registry:2
    deploy:
      restart_policy:
        condition: on-failure
      placement:
        constraints:
          - node.role == manager
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.registry.rule=Host(`registry.${DOMAIN_NAME}`)"
        - "traefik.http.routers.registry.entrypoints=websecure"
        - "traefik.http.routers.registry.tls=true"
        - "traefik.http.services.registry.loadbalancer.server.port=5000"
        - "traefik.docker.network=aether-net"
    environment:
      REGISTRY_HTTP_ADDR: 0.0.0.0:5000
      REGISTRY_AUTH: htpasswd
      REGISTRY_AUTH_HTPASSWD_REALM: "Registry"
      REGISTRY_AUTH_HTPASSWD_PATH: /run/secrets/registry_htpasswd
      REGISTRY_AUTH_ANONYMOUS_ENABLED: "true"
    secrets:
      - source: registry_htpasswd
        target: registry_htpasswd
    volumes:
      - /mnt/storage/registry:/var/lib/registry
    networks:
      - aether-net
      - internal
    labels:
      - "com.docker.compose.project=${STACK_NAME}"

  registry-ui:
    image: joxit/docker-registry-ui:main
    deploy:
      restart_policy:
        condition: on-failure
      placement:
        constraints:
          - node.role == manager
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.registry-ui.rule=Host(`registry-ui.${DOMAIN_NAME}`) && Method(`GET`, `HEAD`, `OPTIONS`)"
        - "traefik.http.routers.registry-ui.entrypoints=websecure"
        - "traefik.http.routers.registry-ui.tls=true"
        - "traefik.http.services.registry-ui.loadbalancer.server.port=80"
        - "traefik.docker.network=aether-net"
    environment:
      - REGISTRY_TITLE=Hephaestus Registry
      - NGINX_PROXY_PASS_URL=http://registry:5000
      - NGINX_RESOLVER=127.0.0.11
      - SINGLE_REGISTRY=true
      - DELETE_IMAGES=false # Hide delete button
      - PULL_URL=https://registry.${DOMAIN_NAME}
    entrypoint:
      - /bin/sh
      - -c
      - |
        export NGINX_PROXY_USER=$$(cat /run/secrets/registry_username)
        export NGINX_PROXY_PASSWORD=$$(cat /run/secrets/registry_raw_password)
        /docker-entrypoint.sh nginx -g 'daemon off;'
    secrets:
      - source: registry_username
        target: registry_username
      - source: registry_raw_password
        target: registry_raw_password
    networks:
      - aether-net
      - internal
    labels:
      - "com.docker.compose.project=${STACK_NAME}"

networks:
  aether-net:
    external: true
  internal:
    driver: overlay
    attachable: true

secrets:
  registry_htpasswd:
    external: true
    name: ${REGISTRY_HTPASSWD_NAME}
  registry_username:
    external: true
    name: ${REGISTRY_USERNAME_NAME}
  registry_raw_password:
    external: true
    name: ${REGISTRY_RAW_PASSWORD_NAME}
