version: "3.8"

services:
  registry:
    image: registry:2
    deploy:
      restart_policy:
        condition: on-failure
      placement:
        constraints:
          - node.role == manager
    environment:
      REGISTRY_HTTP_ADDR: 0.0.0.0:5000
      # REGISTRY_STORAGE_DELETE_ENABLED: "true"
    volumes:
      - /mnt/storage/registry:/var/lib/registry
    networks:
      - aether-net
      - internal
    labels:
      - "com.docker.compose.project=${STACK_NAME}"
      # Traefik Router
      - "traefik.enable=true"
      - "traefik.http.routers.registry.rule=Host(`registry.${DOMAIN_NAME}`)"
      - "traefik.http.routers.registry.entrypoints=websecure"
      - "traefik.http.routers.registry.tls=true"
      - "traefik.http.services.registry.loadbalancer.server.port=5000"
      - "traefik.docker.network=aether-net"


  registry-ui:
    image: joxit/docker-registry-ui:main
    deploy:
      restart_policy:
        condition: on-failure
      placement:
        constraints:
          - node.role == manager
    environment:
      - REGISTRY_TITLE=Hephaestus Registry
      - REGISTRY_URL=https://registry.${DOMAIN_NAME}
      - SINGLE_REGISTRY=true
      - DELETE_IMAGES=true
    networks:
      - aether-net
    labels:
      - "com.docker.compose.project=${STACK_NAME}"
      # Traefik Router
      - "traefik.enable=true"
      - "traefik.http.routers.registry-ui.rule=Host(`registry-ui.${DOMAIN_NAME}`)"
      - "traefik.http.routers.registry-ui.entrypoints=websecure"
      - "traefik.http.routers.registry-ui.tls=true"
      - "traefik.http.services.registry-ui.loadbalancer.server.port=80"
      - "traefik.docker.network=aether-net"
      # Security (Authelia)
      - "traefik.http.routers.registry-ui.middlewares=authelia@docker"

networks:
  aether-net:
    external: true
  internal:
    driver: overlay
    attachable: true
